@import "/styles/theme.scss";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 290px;
  background-color: $bg-cards;
  border-radius: 20px;

  .Perfil {
    width: 128px;
    height: 128px;
    border: 2px solid #00FF00;
    border-radius: 50%;
  }
  
  .contentText {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0px;

    .UserName {
      font-size: 24px;
      font-family: $main-font;
      font-weight: 700;
      color: $text-color;
    }

    .Office {
      font-size: 14px;
      font-family: $main-font;
      font-weight: 300;
      color: $text-color;
    }
  }

}

@media(max-width: '500px') {
  .content {
    width: 100%;

    .contentText {
      .UserName {
        font-size: 24px;
      }
    }
  }
}
